<!-- Assignment 2 -->

<!-- Add an input field which updates a property ('username') via Two-Way-Binding -->
<input
 type="text"
 class="form-control"
 [(ngModel)]="username"
>

 <!-- Output the username property via String interpolation (in a paragraph below the input) -->
 <p>{{ username }}</p>

 <!-- Add a button which may only be clicked if the username is NOT an empty string -->
 <!-- Upon clicking the button, the username should be reset to an empty string -->
 <button class="btn btn-primary"
  [disabled]="username === ''"
  (click)="username = ''"
  >Reset</button>
 
